:root {
  --primary-color: #9bbfc8;
  --primary-color-dark: #13547a;
  --primary-color-light: whitesmoke;
  --primary-font-family: "Grenze Gotisch", cursive;
  --box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}

body {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  font-family: var(--primary-font-family);
  margin: 100px;
  overflow: hidden;
  text-transform: lowercase;
}

.container {
  background: rgba(245, 245, 245, 0.5);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  max-width: 700px;
  padding: 35px;
}
